<h2>Categories</h2>

<app-toast-state-group
  [loading]="loading()"
  [message]="message()"
  [error]="error()"
></app-toast-state-group>

<!-- content  -->
@if (!loading() && !error()){
<div class="flex justify-end">
  <app-button
    (clicked)="setModal(0)"
    [size]="ButtonSize.Medium"
    [design]="ButtonType.Secondary"
    popoverTarget="modal"
  >
    Add
  </app-button>
</div>

<!-- categories list -->
@if(orderedCategories().length === 0 && !loading()) {
<span>No categories. Go ahead and create one!</span>
} @else {
<ul class="category-list">
  @for (cat of orderedCategories(); track cat.id) {
  <li>
    <button
      class="category-item w-full"
      (click)="setModal(cat.id)"
      popovertarget="modal"
    >
      <!-- Left: color dot -->
      <div class="category-dot" [style.backgroundColor]="cat.color"></div>

      <!-- Middle: name -->
      <div class="category-content">
        <div class="category-title">
          {{ cat.name }}
        </div>
      </div>

      <!-- Right: amount -->
      <div class="category-amount">
        <div class="category-value">{{ cat.monthlyLimit | appCurrency }}</div>
        <div class="category-period">/ month</div>
      </div>

      <!-- Chevron -->
      <div class="category-chevron">›</div>
    </button>
  </li>
  }
</ul>
} }

<!-- modals -->
<app-full-modal
  [name]="currentCategory()?.name ?? 'New Category'"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <app-toast-state-group
    [message]="message()"
    [error]="error()"
    [message]="message()"
  ></app-toast-state-group>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="flex flex-col gap-4 mb-4">
      <div class="form-field">
        <label for="name">Name *</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          class="border-2"
          minlength="3"
          placeholder="My Category"
          (blur)="capitalizeName()"
        />
        @if (form.controls.name) { @if
        (form.controls.name.errors?.['minLengthName']) {
        <div class="text-[#f00]">Name must be at least 3 characters long</div>
        } }
      </div>

      <div class="form-field">
        <label for="monthlyLimit"
          >Monthly Estimate ({{ "" | appCurrency }}) *</label
        >
        <input
          id="monthlyLimit"
          formControlName="monthlyLimit"
          type="number"
          class="border-2"
          placeholder="100"
          min="1"
        />
        @if (form.controls.monthlyLimit.errors?.['min']) {
        <div class="text-[#f00]">Monthly estimate must be at least 1</div>
        }
      </div>

      <div class="form-field">
        <label for="color">Color *</label>
        <input
          id="color"
          formControlName="color"
          class="border-2"
          type="text"
          placeholder="#FFFFFF"
          minLength="6"
          maxlength="7"
          (blur)="toHexFormat()"
        />
        @if (form.controls.color) { @if
        (form.controls.color.errors?.['invalidHexColor']) {
        <div class="text-[#f00]">Color must be in the format #09AAFF</div>
        } }
      </div>
    </section>

    @if(currentCategory()?.id){
    <app-button [design]="ButtonType.Tertiary" (clicked)="handleDeletePress()"
      >Delete</app-button
    >
    }

    <app-button
      [disabled]="!form.valid"
      type="submit"
      [size]="ButtonSize.Medium"
    >
      {{ currentCategory()?.id ? "Save" : "Add" }}
    </app-button>
  </form>

  <app-confirmation-modal
    [open]="confirmation()"
    [mainText]="deleteMainText()"
    [warning]="deleteWarning()"
    (submission)="onDelete($event)"
  ></app-confirmation-modal>
</app-full-modal>
