/* Sizes */
.sm {
  padding: 10px 16px;
  font-size: 16px;
}

.md {
  padding: 10px 16px;
  font-size: 16px;
  width: 100%;
}

.lg {
  padding: 14px 20px;
  font-size: 18px;
  width: 100%;
}

/* Designs */
.primary {
  background: #000;
  color: #fff;
}

.secondary {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.tertiary {
  background: transparent;
  color: #000;
}

/* Desktop enhancement */
@media (min-width: 768px) {
  button {
    width: auto;
  }
}
