<h2>Expenses</h2>

@if (loading()) {
<app-loading></app-loading>
} @if (error()) {
<app-error [error]="error()"></app-error>
}

<!-- state  -->
@if (!loading() && !error()) { @if(message()){
<div class="bg-green-400">
  {{ message() }}
</div>
} @if(error()){
<app-error [error]="error()"></app-error>
} @if (loading()) {
<app-loading></app-loading>
}

<!-- expenses list -->
@if(orderedExpenses().length === 0){
<span>No expenses. <a routerLink="/add-expense">Create one now!</a></span>
} @else {
<ul class="expense-list">
  @for (exp of orderedExpenses(); track exp.id) {
  <li>
    <button
      class="expense-item w-full"
      (click)="setModal(exp.id)"
      popovertarget="modal"
    >
      <!-- Left: ID -->
      <div class="expense-id">
        {{ exp.id }}
      </div>

      <!-- Middle: content -->
      <div class="expense-content">
        <div class="expense-title">
          {{ exp.categoryId }}
        </div>
        <div class="expense-subtitle">
          {{ exp.tag }}
        </div>
      </div>

      <!-- Right: amount -->
      <div class="expense-amount">{{ exp.amount }} €</div>

      <!-- Chevron -->
      <div class="expense-chevron">›</div>
    </button>
  </li>
  }
</ul>
}

<!-- modal -->
<app-full-modal
  [name]="currentModal() ?? ''"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <app-expense-form
    [categories]="categories()"
    [expense]="currentExpense()"
    (submission)="onSubmit($event)"
    (delete)="handleDeletePress()"
  ></app-expense-form>
</app-full-modal>

<app-confirmation-modal
  [open]="confirmation()"
  (submission)="onDelete($event)"
></app-confirmation-modal>
}
