<h2>Expenses</h2>

<!-- state  -->
<app-toast-state-group
  [loading]="loading()"
  [error]="error()"
  [message]="message()"
></app-toast-state-group>

<!-- expenses list -->
@if(orderedExpenses().length === 0 && !loading()) {
<span>No expenses. <a routerLink="/add-expense">Create one now!</a></span>
} @else {
<ul class="expense-list">
  @for (exp of orderedExpenses(); track exp.id) {
  <li>
    <button
      class="expense-item w-full"
      (click)="setModal(exp.id)"
      popovertarget="modal"
    >
      <!-- Left: ID -->
      <div class="expense-id">#{{ exp.id }}</div>

      <!-- Middle: content -->
      <div class="expense-content">
        <div class="expense-title">
          {{ getCategoryName(exp.categoryId) }}
        </div>
        <div class="expense-subtitle">
          {{ exp.tag }}
        </div>
      </div>

      <!-- Right: amount -->
      <div class="expense-amount">{{ exp.amount }} €</div>

      <!-- Chevron -->
      <div class="expense-chevron">›</div>
    </button>
  </li>
  }
</ul>
}

<!-- modals -->
<app-full-modal
  [name]="currentModal() ?? ''"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <app-toast-state-group
    [loading]="loading()"
    [error]="error()"
    [message]="message()"
  ></app-toast-state-group>

  <app-expense-form
    [categories]="categories()"
    [expense]="currentExpense()"
    (submission)="onSubmit($event)"
    (delete)="handleDeletePress()"
  ></app-expense-form>

  <app-confirmation-modal
    [open]="confirmation()"
    (submission)="onDelete($event)"
    [mainText]="
      'Are you sure you want to delete expense #' + currentExpense()?.id + '?'
    "
  ></app-confirmation-modal>
</app-full-modal>
