<div class="p-4">
  <h2>Login</h2>

  @if (error()) {
  <app-error [error]="error()"></app-error>
  } @if (loading()) {
  <app-loading></app-loading>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label>Email</label>
      <input type="email" formControlName="email" class="border-2" />
    </div>

    <div class="form-field">
      <label>Password</label>
      <input type="password" formControlName="password" class="border-2" />
    </div>

    <app-button [disabled]="loading()" type="submit"> Login </app-button>
  </form>
</div>
