@if (open()) {
<div class="fixed inset-0 flex items-center justify-center bg-black/40">
  <div
    class="w-[90%] p-4 rounded border-4 shadow"
    [class]="
      warning()
        ? 'bg-warning border-warning-contrast'
        : 'bg-info border-info-contrast'
    "
  >
    <p>{{ mainText() }}</p>
    <div class="mt-4 flex gap-2 justify-around">
      <app-button
        (clicked)="onCancel()"
        [size]="ButtonSize.Medium"
        [design]="ButtonType.Secondary"
      >
        <span>{{ cancelText() }}</span>
      </app-button>

      <app-button
        (clicked)="onYes()"
        [size]="ButtonSize.Medium"
        [design]="ButtonType.Secondary"
      >
        <span>{{ yesText() }}</span>
      </app-button>
    </div>
  </div>
</div>
}
