<form [formGroup]="form()" (ngSubmit)="onSubmit()">
  <div>
    <label for="amount">Amount *</label>
    <br />
    <input
      id="amount"
      formControlName="amount"
      type="number"
      class="border-2"
      min="1"
      step="1"
      (blur)="roundAmount()"
    />
  </div>

  @if (form().controls.amount.errors?.['notInteger']) {
  <div class="text-[#f00]">Amount must be a whole number</div>
  } @if (form().controls.amount.errors?.['min']) {
  <div class="text-[#f00]">Amount must be at least 1</div>
  }

  <div>
    <label for="category">Category *</label>
    <br />
    <select
      id="category"
      formControlName="category"
      type="number"
      class="border-2"
    >
      @for (c of categories(); track c.id) {
      <option [value]="c.id">{{ c.name }}</option>
      }
    </select>
  </div>

  <div>
    <label for="date">Date *</label>
    <br />
    <input id="date" formControlName="date" class="border-2" type="date" />
    @if(form().controls.date.errors?.['dateInFuture']) {
    <div class="text-[#f00]">Date cannot be in the future</div>
    }
  </div>

  <div>
    <label for="tag">Tag #</label>
    <br />
    <input
      id="tag"
      formControlName="tag"
      class="border-2"
      type="text"
      placeholder="yourTag"
      min="1"
      (blur)="toCamelCaseTag()"
    />
  </div>

  @if(expense()?.id){
  <app-button (clicked)="onDelete()" [design]="ButtonType.Secondary">
    Delete
  </app-button>
  }

  <app-button [disabled]="!form().valid" type="submit">
    {{ expense() === null ? "Add" : "Save" }}
  </app-button>
</form>
