<h2>Expenses</h2>

@if (loading()) {
<div class="bg-blue-100">Loading...</div>
} @if (error()) {
<app-error [error]="error()"></app-error>
}

<!-- content  -->
@if (!loading() && !error()) { @if(message()){
<div class="bg-green-400">
  {{ message() }}
</div>
} @if(error()){
<app-error [error]="error()"></app-error>
} @if (loading()) {
<div class="bg-red-400">Loading...</div>
}

<ul>
  @for (exp of orderedExpenses(); let i = $index; track exp.id) {
  <li>
    <span>
      #{{ orderedExpenses().length - i }} - {{ exp.amount }} —
      {{ exp.categoryId }} — {{ exp.tag }}
      <!-- {{ exp.date }} -->
      -
    </span>
    <button (click)="setModal(exp.id)" popovertarget="modal">Edit</button>
  </li>
  }
</ul>

<app-modal
  [name]="currentModal() ?? ''"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <app-expense-form
    [categories]="categories()"
    [expense]="currentExpense()"
    (submission)="onSubmit($event)"
    (delete)="onDelete()"
  ></app-expense-form>
</app-modal>
}
