@if (loading()) {
<div>Loading...</div>
} @if (error()) {
<div>{{ error() }}</div>
} @if (!loading()) {
<ul>
  @for (exp of orderedExpenses(); track exp.id) {
  <li>
    <span>
      #{{ exp.id }} - {{ exp.amount }} — {{ exp.categoryId }} — #{{ exp.tag }}
      <!-- {{ exp.date }} -->
      -
    </span>
    <button (click)="setModal(exp.id)" popovertarget="modal">Edit</button>
  </li>
  }
</ul>

<app-modal
  [name]="currentModal() ?? ''"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <app-expense-form
    [categories]="categories()"
    [expense]="currentExpense()"
    (submission)="onSubmit($event)"
  ></app-expense-form>

  @if (saving()) {
  <p>Saving...</p>
  } @else if (saved()) {
  <p>Expense added!</p>
  }
</app-modal>
}
