@if (loading()) {
<div>Loading...</div>
} @if (saved()) {
<p>{{ savedMessage() }}</p>
} @if (error()) {
<div>{{ error() }}</div>
}

<!-- content  -->
@if (!loading()) {
<div>
  <button (click)="setModal(0)" popovertarget="modal">Add</button>
</div>
<ul>
  @for (cat of orderedCategories(); track cat.id) {
  <li>
    <span>{{ cat.name }} — {{ cat.monthlyLimit }} — {{ cat.color }} - </span>
    <button (click)="setModal(cat.id)" popovertarget="modal">Edit</button>
  </li>
  }
</ul>
}

<app-modal
  [name]="currentCategory()?.name ?? 'New Category'"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name *</label>
      <br />
      <input id="name" formControlName="name" type="text" class="border-2" />
    </div>

    <div>
      <label for="monthlyLimit">Monthly Estimate *</label>
      <br />
      <input
        id="monthlyLimit"
        formControlName="monthlyLimit"
        type="number"
        class="border-2"
      />
    </div>

    <div>
      <label for="color">Color *</label>
      <br />
      <input
        id="color"
        formControlName="color"
        class="border-2"
        type="text"
        minLength="7"
        maxlength="7"
      />
    </div>
    @if(currentCategory()?.id){
    <button (click)="onDelete()">Delete</button>
    }
    <button type="submit">{{ currentCategory()?.id ? "Save" : "Add" }}</button>
  </form>

  @if (saved()) {
  <p>{{ savedMessage() }}</p>
  } @if (loading()) {
  <div>Loading...</div>
  }
</app-modal>
