@if (loading()) {
<div>Loading...</div>
} @if (saved()) {
<p>{{ savedMessage() }}</p>
} @if (error()) {
<div>{{ error() }}</div>
}

<!-- content  -->
@if (!loading()) {
<div>
  <button (click)="setModal(0)" popovertarget="modal">Add</button>
</div>
<ul>
  @for (cat of orderedCategories(); track cat.id) {
  <li>
    <span>{{ cat.name }} — {{ cat.monthlyLimit }} — {{ cat.color }} - </span>
    <button (click)="setModal(cat.id)" popovertarget="modal">Edit</button>
  </li>
  }
</ul>
}

<app-modal
  [name]="currentCategory()?.name ?? 'New Category'"
  [open]="currentModal() !== null"
  (close)="setModal(null)"
>
  <form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name *</label>
      <br />
      <input
        id="name"
        formControlName="name"
        type="text"
        class="border-2"
        minlength="3"
        placeholder="My Category"
        (blur)="capitalize()"
      />
      @if (form().controls.name) { @if
      (form().controls.name.errors?.['minLengthName']) {
      <div class="text-[#f00]">Name must be at least 3 characters long</div>
      } }
    </div>

    <div>
      <label for="monthlyLimit">Monthly Estimate *</label>
      <br />
      <input
        id="monthlyLimit"
        formControlName="monthlyLimit"
        type="number"
        class="border-2"
        placeholder="100"
        min="1"
      />
      @if (form().controls.monthlyLimit.errors?.['min']) {
      <div class="text-[#f00]">Monthly estimate must be at least 1</div>
      }
    </div>

    <div>
      <label for="color">Color *</label>
      <br />
      <input
        id="color"
        formControlName="color"
        class="border-2"
        type="text"
        placeholder="#FFFFFF"
        minLength="6"
        maxlength="7"
      />
      @if (form().controls.color) { @if
      (form().controls.color.errors?.['invalidHexColor']) {
      <div class="text-[#f00]">Color must be in the format #09AAFF</div>
      } }
    </div>
    @if(currentCategory()?.id){
    <button (click)="onDelete()">Delete</button>
    }

    <button [disabled]="!form().valid" type="submit">
      {{ currentCategory()?.id ? "Save" : "Add" }}
    </button>
  </form>

  @if (saved()) {
  <p>{{ savedMessage() }}</p>
  } @if (loading()) {
  <div>Loading...</div>
  }
</app-modal>
